$border-radius: 0.4rem;
$padding-v: 0.25rem;
$padding-h: 1.5rem;
$button-bg: #fad59a;
$base-color: #000;
$hover-base: #f4f8d3;
$hover-font: #f5ac36;
$font-bold: 600;

@mixin button-submit {
  border: none;
  border-radius: $border-radius;
  padding: $padding-v $padding-h;
  display: inline-block;
  cursor: pointer;
}

.new-submit-button-container {
  display: flex;
  justify-content: flex-end;

  .new-submit-button {
    @include button-submit;
    background-color: $button-bg;
    color: $base-color;
    font-size: 1rem;
    font-weight: $font-bold;

    &:hover {
      background-color: $hover-base;
      border-color: $hover-base;
      color: $hover-font;
      transition: all 0.1s ease-in-out;
    }
  }
}
