<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Tell Us Y'Story</title>

    <!-- LOGO -->
    <link rel="shortcut icon" href="logo.png" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav-container></nav-container>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">
          <h1 class="mb-3">Daftar Cerita</h1>
          <div class="row mb-5 g-3" id="listStories"></div>
        </div>
      </div>
    </main>

    <footer>
      <div class="main-footer">
        <div class="container px-3 py-4">
          <footer-content></footer-content>
        </div>
      </div>
    </footer>

    <detail-story
      title="Detail Cerita"
      class="modal fade"
      id="storyDetailModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
    >
    </detail-story>
  </body>
</html>
